<br><br><br><div class="row">
  <form action="/online_lending/lender" method="post" class="col-lg-5 col-md-5">
    <h3>Lender</h3>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
    <div class="form-group">
      <label for="reg_fname">First name</label>
      <input type="text" name="lender[first_name]" id="reg_fname" class="form-control" placeholder="First name">
    </div>
    
    <div class="form-group">
      <label for="reg_lname">Last name</label>
      <input type="text" name="lender[last_name]" id="reg_lname" class="form-control" placeholder="Last name">    
    </div>
    
    <div class="form-group">
      <label for="reg_email">Email</label>
      <input type="text" name="lender[email]" id="reg_email" class="form-control" placeholder="Email">    
    </div>
    
    <div class="form-group">
      <label for="reg_pw">Password</label>
      <input type="password" name="lender[password]" id="reg_pw" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="reg_money">Money</label>
      <input type="number" name="lender[money]" id="reg_money" class="form-control" placeholder="Money">    
    </div>

    <input type="submit" name="submit" value="Register" class="btn btn-primary">
  </form>

  <form action="/online_lending/borrower" method="post" class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2">
    <h3>Borrower</h3>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
    <div class="form-group">
      <label for="reg_fname">First name</label>
      <input type="text" name="borrower[first_name]" id="reg_fname" class="form-control" placeholder="First name">
    </div>
    
    <div class="form-group">
      <label for="reg_lname">Last name</label>
      <input type="text" name="borrower[last_name]" id="reg_lname" class="form-control" placeholder="Last name">    
    </div>
    
    <div class="form-group">
      <label for="reg_email">Email</label>
      <input type="text" name="borrower[email]" id="reg_email" class="form-control" placeholder="Email">    
    </div>
    
    <div class="form-group">
      <label for="reg_pw">Password</label>
      <input type="password" name="borrower[password]" id="reg_pw" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="reg_purpose">Need Money For</label>
      <input type="text" name="borrower[purpose]" id="reg_purpose" class="form-control" placeholder="Purpose">    
    </div>

    <div class="form-group">
      <label for="reg_description">Description</label>
      <textarea type="text" name="borrower[description]" id="reg_description" class="form-control" placeholder="Description"></textarea>  
    </div>

    <div class="form-group">
      <label for="reg_money">Amount needed</label>
      <input type="number" name="borrower[money]" id="reg_money" class="form-control" placeholder="Amount needed">    
    </div>

    <input type="submit" name="submit" value="Register" class="btn btn-primary">
  </form>
</div>

<div class="link">
<%= link_to "Login", "/online_lending/login", method: :get, class: "btn btn-link" %>
</div>